body{
	position: absolute;
	top:0;
	bottom: 0;
	width: 100%;
	font-size: .12rem;
	display: -webkit-flex;
	-webkit-flex-direction:column;
}
.header{
	height: .44rem;
	border-bottom: 1px solid #309ef1;
	background-image:linear-gradient(90deg,#528bff,#2ac0fd);
	text-align: center;
	line-height: .44rem;
	color: #fff;
	position: relative;
}
.header_left{
	position: absolute;
	top:.05rem;
	left:.1rem;
	a{
		display: inline-block;
		width: .36rem;
		height: .34rem;
		img{
			width: 100%;
			height: 100%;
			display: block;
			border-radius: 50%;
		}
	}
}
.header_center{
	font-size: .16rem;
}
.header_right{
	position: absolute;
	top:-.02rem;
	right:.05rem;
	a{
		color: #fff;
		font-size: .3rem;
	}
}
.content{
	-webkit-flex:1;
	overflow-y:scroll;
}
.con_select{
	padding:.06rem .11rem;
	color: #a2a2a2;
	position: relative;
	.fa-search{
		position: absolute;
		top:.12rem;
		left:40%;
		font-size: .14rem;
	}
	input{
		width: 100%;
		height: .26rem;
		background: #f3f3f3;
		border-radius: 2px;
		text-align: center;
		border:none;
	}
}
.list{
	display: -webkit-flex;
	padding: .06rem 0;
	border-bottom: 1px solid #f3f3f3;
}
.list_img{
	width: .66rem;
	padding: 0 .11rem;
	img{
		width: 100%;
		display: block;
	}
}
.list_box{
	padding-top: .05rem;
	-webkit-flex:1;
	line-height: .2rem;
}
.list_top{
	position: relative;
	p{
		position: absolute;
		top:0;
		right:.1rem;
		color: #b9b9b9;
		-webkit-transform:scale(0.9);
	}
	h4{
		color: #1f1f1f;
		font-size: .15rem;
	}
}
.list_bottom{
	position: relative;
	label{
		position: absolute;
		width: .08rem;
		height: .08rem;
		border-radius: 50%;
		background: #fd4220;
		top:.05rem;
		right:.15rem;
	}
	p{
		color: #7f7f7f;
		span{
			color: #f6985b;
		}
	}
}
.footer{
	width: 100%;
	height: .44rem;
	border-top: 1px solid #eaeaea;
	display: -webkit-flex;
}
.footer_skip{
	 -webkit-flex:1;
	 text-align: center;
	 color: #7d7d89;
	 -webkit-transform:scale(0.6);
	 position: relative;
	 label{
		display: inline-block;
		width: .24rem;
		height: .24rem;
		font-size: .12rem;
		color: #fff;
		border-radius: 50%;
		position: absolute;
		top:-.05rem;
		right:.25rem;
		text-align: center;
		line-height: .24rem;
	 }
	 label.bg{
	 	background: #f04e37;
	 }
	 i{
	 	font-size: .36rem;
	 }
	 span{
	 	display: block;
	 }
}
.footer_skip.bg{
	color: #52b8f9;
}